@charset "UTF-8";
/* CSS Document */

html * {
	box-sizing: border-box;
}


body {
	background-color: #FFFFFF;
	margin: 0 auto;
}

.container {
	width: 960px;
	margin: 0 auto;
}
header {
	/*height: 122px;*/
	width: 100%;
	margin: 30px auto 0;
	border-bottom: 40px solid #f24c36;
	/*border-image: url('http://cl.ly/3c2J3c0l3r0P/dots.svg') 33% round;*/
}
	
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li { 
	float: left;
}

li a { 
	display: inline;
	padding: 14px 30px; 
}

a:link {
	color: #000000;
	text-decoration: none; 
	font-family: 'Raleway', Gill Sans, sans-serif;
	font-weight: 700	;
}

a:visited { 
	color: #000000; 
}

a:hover { 
	color: #f24c36;
	text-decoration: none;
}

.navbar {
	float: right;
	position: relative;
	bottom: -50px;
}

.logo {
	margin: 0 20px -40px;
	position:relative;
}

.article-background { 
	background-color: rgba(255,255,255,.3);
	width: 100%;
	height: 730px;
	
}

.main {
	background-color: #f24c36;
}

.headline-banner {
	background-color: #f4e0a5;
	color: #fff;
	font-family: "Arvo", sans-serif; 
	font-weight: 700;
	font-size: 3.75em;
	left: -6%;
	line-height: 1;
	padding: .25em;
	padding-left: .5em;
	position: relative;
	text-align: left;
	text-shadow: 0 0 5px rgba(232,177,52,.72);
	width: 112.5%;
}
.headline-banner:before {
	border-top: 16px solid transparent;
	border-right: 22px solid #e8bb5d;
	border-bottom: 0 solid transparent;
	border-left: 0 solid transparent;
	content: " ";
	display: block;
	left: 0;
	position: absolute;
	top: -16px;
	width: 0;
	z-index: 100;
}
.headline-banner:before, .headline-banner:after {
	border: 0 solid transparent;
	content: " ";
	display: block;
	position: absolute;
	width: 0;
	z-index: 100;
}
.headline-banner:before {
	border-top: 16px solid transparent;
	border-right: 22px solid #e8bb5d;
	left: 0;
	top: -16px;
}
.headline-banner:after {
	border-bottom: 16px solid transparent;
	border-left: 23px solid #e8bb5d;
	right: 0;
	bottom: -16px;
}

.trans-box {
	height: 730px;
	position: absolute;
	left: 50%;
	margin-left: -450px;
	background-color: rgba(255,255,255,.2);
}

.locations1, .locations2, .hours {
	margin: 30px;
	font-family: "raleway", sans-serif;
	font-weight: 100;
	color: #FFFFFF;
	line-height: 1;
}

em {
font-weight: 700;	
	
}

.times {
	font-weight: 600;
	
	}
.everyday {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 1rem;
	color: #e6f77f;
	text-shadow: 3px 3px 6px rgba(0,0,0,.5);
	margin-bottom: 0;
}

p {
	text-align: right;
}

.socialmedia {
	float: right;
	margin: 5px 5px; 
}


.map {
	float: right;
	position: absolute;
	left: 50%;
	margin-top: 140px;
	box-shadow: 0 0 20px 5px rgba(0,0,0,.3);
}

footer {
	border-top: solid 40px #f24c36;
}

.footer-box {
	margin-right: 250px;
	
	}