/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   RWD classes fom bootstrap
   ========================================================================== */

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 990px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  border: solid #000000 1px;
}

  .text-center {
  text-align: center !important;
}

 .col-xs-10 {
  float: left;
  width: 83.333333%;
}

  .col-sm-1, .col-sm-2{
   	width: 50%;
	float: left;
  }
  
  .col-xs-1 {
	 width: 100%; 
	 float: left; 
	  }
	  
	.col-xs-2 {
		width: 100%;
		float: left;
		}
  
  .push-sm-0 {
    left: auto;
  }
  
  .col-lg-2 {
    float: left;
    width: 25%;
  }
  
.col-sm-10 {
    float: left;
    width: 25%;
  }

  .col-lg-1 {
	float: left; 
    width: 100%;
  }
  
  .row {
	  width: 100%;
	  }
	  
@media screen and (min-width: 48em) {
    .col-xs-1 {
        width: 50%;
    }
}

@media screen and (max-width: 75em) {
	.col-lg-2 {
		width: 100%;
		
		}
	}