@charset "UTF-8";
/* CSS Document */

html * {
	box-sizing: border-box;}
	
body {
	background-color: #F23B0C;}
	
	
#page {
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto; 
	padding: 25px;
	background-color: #ffffff;
	border-radius: 20px;}
	
h1 {
	text-align: center;
	color: #153AD6;
	font-family: 'Righteous', cursive;
	font-weight: 400px;
	font-size: 36px;
	border-bottom: 3px solid #000000;
	padding: 15px;}
	
h2, .discs {
	font-family: 'Righteous', cursive;
	font-weight:400;}
	 
h3, h4 {
	color: #9C9C9C;
	font-family: 'Righteous', cursive;}
p, li {
	font-family: 'Halant', serif;}
strong {
	font-family: 'Halant', serif;
	color: #153AD6;}
strong, .singers {
	font-family: 'Righteous', cursive;}
	
.number1 {
	color: #153AD6;}
.number2 {
	color: #153AD6;}
.number3 {
	color: #153AD6;}
.number4 {
	color: #153AD6;}
ul {
	list-style-image: url(../images/bullet.png);}
	

	
	

	
	
	

	