@charset "UTF-8";
/* CSS Document */

html * {
	box-sizing: border-box;}

body {
	background-color: #ffffff;}
	
.bottom-row {
	margin: auto;
	width: 960px;
	height: 600px;
	background-color: #a4a5a3;}
	
.header {
	background-color: #FFFFFF;
	height: 116px;
	width: 960px;
	padding: 5px; 
	margin: auto;
	text-align: center;}

.top-row {
	padding: 0;
	margin: 0 auto;
	width: 960px;
}
.top-row figure {
	margin: 0;
	line-height: 1;
}

.top-row img {
	vertical-align: bottom;
}

h1 {
	font-family: 'Fugaz One', cursive;
	font-weight: 400;}
h2 {
	font-size: 1.5em;
	font-family: 'Fugaz One', cursive;
	line-height: .5px;
	padding-left: 20px; }
	
p.tag2 {
	float: right;}

div.secondline {
	position: relative; 
	right: -60px;}
	
span.prius, .prius2 {
	color: #f02646;}
	
span.prius2 {
	float: right;
	line-height: .5px;
	padding-right: 20px;}


ul {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 10px;
	postion: relative;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -45px;}
	

li {
	margin: 20px;}
	

input, select {
	float: right;
	margin-right: 60px;}
	
label { 
margin-left: 40px;} 

	
.checks { 
	float: none;
	margin-right: 5px;}
	
a {
	text-decoration: none;}
	 
.toyotalogo {
	float: left;
	margin-right: 15px;
	margin-bottom: 30px;}

div.tagline {
	margin-bottom: 400px;}
	
div.interior-box {
	width: 340px;
	height: 80px;
	background-color: #ffffff;
	position: relative;
	top: -40px;
	left: -20px;
	padding: 5px;}

div.form {
	float: left;
	background-color: rgba(255,255,255,.5);
	width: 390px;
	height: 560px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-left: 65px;}
	
p.instruction {
	font-family: 'Roboto', sans-serif;
	font-size: 8px;
	position: relative;
	top: -40px;}
	
div.description {
	float: right;
	width: 390px;
	height: 155px;
	margin-right: 65px;
	padding: 15px;
	background-color:  rgba(255,255,255,.5);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 21px;
	color: #000000;
	position: relative;}
	
.dashboard {
	float: right;
	margin-right: 65px;
	position: relative;
	top: 5px;}
	
	
figure { 
	margin: 0;}


input#submit {
	position: relative;
	background-color: #f02646;
	color: #ffffff;
	border: 2px solid #ffffff;
	font-family: 'Fugaz One', cursive; 
	font-size: 1em;
	width: 150px;
	height: 50px;
	margin-top: 15px;
	float: left;
	top: -40px;}

.social {
	margin-top: 0;
	float: right;
	positon: relative;}
	
	
footer {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 9px;
	padding: 10px;}
	

	
	
