@charset "UTF-8";
/* CSS Document */

html * {
	box-sizing: border-box;
}

body { 
	background: -moz-radial-gradient(center, ellipse cover, rgba(112,141,150,0.83) 15%, rgba(83,107,117,0.83) 39%, rgba(8,22,32,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(112,141,150,0.83) 15%,rgba(83,107,117,0.83) 39%,rgba(8,22,32,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(112,141,150,0.83) 15%,rgba(83,107,117,0.83) 39%,rgba(8,22,32,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4708d96', endColorstr='#081620',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.topnavbar { 
	margin-top: 0;
	margin-right: 8em; 
	float: right;
}

.toplogo {
	margin-right: .5em;	
	font-weight: 500;
	font-style: normal;
	
}
.sidenavbar {
	margin-left: 4em; 
	float: left;
}

.logo {
	margin-left: 35px;
}
	
	
.logotext {
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

.sideelements {
	display: block; 
	color: #FFFFFF;
	font-family: 'program';
	font-weight: 400;
	font-size: 1.3em; 
	padding: 1em; 
	line-height: 1.2em;
}

.sideelements:hover {
	font-style: italic;
	font-weight: 500;
	border-right: 2px #ffffff solid; 
}

.sidenavtransparent {
	width: 250px;
    height: 80%;
    position: fixed;
    top: 0;
	padding-top: 2em;
	padding-bottom: 2em;
    background-color: rgba(0,0,0,.35);
}

li { 
	display: inline; 
	color: #FFFFFF;
	font-family: 'program';  
}

.wrap1 { 
	width: 100%; 
	position: relative; 
}

.lanternimg {
	width: 100%;
	}
	
.textbox { 
	width: 400px;
    height: 20em;
    position: absolute;
	border: solid .01px #D9D4D4;
    top: 15em;
    left: 100%;
    margin-left: -520px;
	padding: 1em 1em 2em;
    background-color: rgba(0,0,0,.3);
	max-width: 100%;
}



h2 {
	font-family: 'program';
	color: #FFFFFF;
	font-weight: 400; 
	font-size: 2em;
}

.emphasis {
	font-family: 'program';
	color: #FFFFFF;
	font-weight: 500; 
}

p {
	font-family: 'program';
	font-weight: 400;
	color: #ffffff;
	line-height: 1.5em; 
}


.next {
	font-style: italic; 
	font-weight: 400;
}


	
.rules {
	width: 75%; 
	margin-top: 2em; 
	position: relative;
	float: right;
	 
}

.persuade {
	font-family: "program",sans-serif;
	font-style: normal; 
	font-weight: 400; 
	font-size: 1.5em;
	width: 15em;
	margin-left: 12em;
	position: relative; 
	margin-top: 2em;
	margin-bottom: 2em;
}

.bigbuy {
	font-family: "program",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 3em;	
	margin-top: 10px;
	margin-bottom: 0;
}


.buying {
	width: 4.7em;
	border: solid 1px #FFFFFF;
	font-family: "program",sans-serif;
	font-weight: 400; 
	font-style: normal; 
	font-size: 2em;
	color: #ffffff;
	padding: 20px;
	margin-left: 10em;
}

.getit {
	margin-bottom: 0;	
}

.buyit {
	width: 5em;
	border: solid 1px #FFFFFF;
	font-family: "program",sans-serif;
	font-weight: 400; 
	font-style: normal; 
	font-size: 1.5em;
	color: #ffffff;
	padding: 10px;
	text-align: center;
}

.buyit:hover{
	font-style: italic;
	font-weight: 500;
} 

.mainimage2 {
	width: 100%;
	position: relative;
}

.binocularimg { 
	width: 100%;
	position: relative;
	
}

.textbox2 {
	width: 25em;
    height: 28em;
    position: absolute;
	border: solid .01px #D9D4D4;
    left: 100%;
    margin-left: -520px;
	padding: 30px;
	top: 10%;
    background-color: rgba(0,0,0,.2);
	
	}
	
.subcontainers {
	width: 70%;
	float: right; 
	position: relative;
	margin-left: 25em;
	margin-right: 8em;
	margin-bottom: 4em;
}
	
.img {
	width: 50%;
	position: relative;
	float: left;
		}
		
.img2 {
	width: 50%; 
	position: relative; 
	float: right;
}

.subcaptions {
	float:left;
	width: 14.5em;
	position: relative; 
	margin-left: 1em;
	padding-left: 1em;
	border-left: solid #ffffff .2em;
}

.subcaptions2 {
	float: left;
	width: 15em; 
	position: relative; 
	border-right: solid #ffffff .2em;
	padding-right: 1em;
	margin-left: 15em;
	text-align: right;
}
	
	
.rules2 {
	width: 75%;
	position: relative; 
	margin-top: 2em;
	margin-bottom: 2em;
	float: right;
}

.new {
	font-family: "program",sans-serif;
	font-style: italic; 
	font-weight: 400;
	font-size: 3em;
	color: #f2f2f2;
	margin-left: 6em; 
	position: relative; 
	}
	
	
.formcontainer {
	float: left;
	position: relative;
	margin-left: 30em;
	margin-bottom: 2em;
	
}

form {
	margin-top: 2em;
	font-family: "program", sans-serif;
	font-style: italic; 
	font-weight: 400;
	font-size: 1em;
	width: 100%;
	}
	
#firstname, #lastname {
	width: 100%;
	
	}
	
input, select {
	display: inline-block;
	margin-bottom: 20px;
	border: none;
}

#countries {
	width: 100%;
	}
.main, #countries {
	height: 40px;
	border-radius: 6px;
	color: #000000;
	font-style: normal;
	position: relative;
	padding: 7px;
 	webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  	moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  	box-shadow: inset 2px 2px 2px 0px #dddddd;
}

button {
	font-size: 2em;
	font-family: "program", sans-serif;
	font-weight: 500;
	font-style: normal;
	}
	
	
.form-field {
	font-size: 1em;
	font-family: "program", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	padding: .8em 0;
	}	
	
.terms {
	line-height: 0;
	font-size: 1em;
	font-family: "program", sans-serif;
	font-weight: 400;
	font-style: normal;
	}
.submit {
		background-color: #ffffff;
		font-style: normal;
		font-weight: 500;
		font-size: 20px; 
		border: 1px solid #FFFBFC;
		border-radius: 6px;
		padding: 5px 15px;
		text-align: center;
		width: 100%;
		padding: 7px;
		webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
		moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
		box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.package {
	float: left;
	width: 20em;
	height: 25em;
	padding: 1em 2em
}

#lines, #lines2 {
	border-right: solid #FFFFFF .5px;
	}

.textbackground {
	background-color: rgba(255,255,255,0.3);
	width: 100%;
	position: relative;
	float: right;
	
}

.packcontainer {
	width: 75%;
	position: relative; 
	float: right; 
	margin: 2em 4em;
	
	}

.packages, .deal, .price, .packages2{
	text-align: center;
	}



.goback{
	width: 80%; 
	position: relative;
	float: right; 
	margin: 0;
	}
	
.askbox1 {
	width: 15em;
	float: left;
	margin-left: 25%;
}

.askbox2 {
	width: 10em;
	float: left;	
	}
	
.backbox {
	width: 90%;
	position: relative; 
	float: right; 
	
	}
	
.back {
	text-decoration: underline; 
	margin-top: 0;
	text-align: center;
	}
	
footer {
	margin-bottom: 2em;
	margin-top: 3em; 
	border-top: 1px #ffffff solid;
	padding-top: .5em;
	width: 100%;
	clear: both;
	}

.footer-box {
	position: relative;
}
		
.footmenu {
	float: left; 
	margin-left: 3em;
	width: 50%;
}

.copyright {
	float: right; 
	font-family: 'program', sans-serif;
	font-weight: 400;
	color: #ffffff;
	margin-right: 3em;
	
	}
	
.packages, .deal, .price  {
	font-weight: 500;
	font-style: normal;
}

.packages2 {
	font-weight: 400; 
	font-style:normal;
}

.packages:hover, .link:hover {
	font-style: italic;
	font-weight: 500;
	}
	
.bottomlinks:hover, .toplink:hover {	
	font-style: normal;
	font-weight: 500;
	}
	
.bottomlinks, .toplink {
	border-right: 1px #ffffff solid;
	padding-right: 1em;
	padding-left: 1em;
}